<template>
  <div class="navbar w-full max-w-[140rem] px-16 py-8 bg-transparent text-neutral-content">
    <div class="flex-1">
      <NuxtLink :to="localePath('/')">
        <span class="flex flex-wrap gap-x-2 text-5xl font-extrabold text-primary-focus">
          Gaia-X
          <span class="text-secondary">
            Lab
            <span class="text-xs text-primary-focus bg-white">
              {{ versionNumber }}
            </span>
          </span>
        </span>
      </NuxtLink>
    </div>
    <!-- Mobile Nav -->
    <div class="flex justify-end flex-1 xl:hidden">
      <div class="flex items-stretch">
        <div class="dropdown dropdown-end">
          <label
            tabindex="0"
            class="flex content-center btn btn-secondary rounded-btn p-6 text-white"
          >
            <HamburgerButton />
          </label>
          <ul
            tabindex="0"
            class="p-2 shadow menu dropdown-content
            bg-base-100 rounded-box w-52 mt-4 text-primary"
          >
            <li
              v-for="(link, i) in navbarLinks"
              :key="i"
            >
              <NavbarLink
                is-mobile
                :is-external="link.isExternal"
                :path="link.path"
                :name="$t(`navbar.${link.name}`)"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Mobile Nav End -->
    <!-- Desktop Nav -->
    <div class="flex-none hidden xl:flex">
      <div class="flex items-stretch gap-20">
        <span
          v-for="(link, i) in navbarLinks"
          :key="i"
        >
          <NavbarLink
            :is-external="link.isExternal"
            :path="link.path"
            :name="$t(`navbar.${link.name}`)"
          />
        </span>
      </div>
    </div>
    <!-- Desktop Nav End -->
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { version } from '~/repo-metadata.json'
import HamburgerButton from '../../assets/images/hamburger-button.svg?inline'

export default Vue.extend({
  components: { HamburgerButton },
  data() {
    return {
      navbarLinks: [
        { name: 'registration', path: '/registration', isExternal: false },
        { name: 'verification', path: '/verification', isExternal: false },
        { name: 'gitlab', path: 'https://gitlab.com/gaia-x/lab/compliance', isExternal: true }
      ],
      versionNumber: version
    }
  }
})
</script>
