<template>
  <!-- https://www.figma.com/file/7VSzbmcT5GFyarcwu495md/Issuer-Portal?node-id=0%3A1 -->
  <AppFlexCenterLayout class="h-full my-auto w-full">
    <div class="w-10/12 max-w-[43rem]">
      <div>
        <h1 class="mb-5 text-3xl font-black">
          {{ $t(`${textRoot}.pageTitle`) }}
        </h1>
      </div>
      <div
        class="card p-4 text-center shadow-2xl bg-white"
        :class="!isLoading && 'grid grid-rows-[minmax(5rem,8rem),5fr]'"
      >
        <NuxtLink
          :to="localePath('/')"
          class="btn btn-primary btn-circle btn-outline absolute top-4 right-4 btn-sm"
        >
          <CloseIcon />
        </NuxtLink>
        <h2
          v-show="!isLoading"
          class="card-title w-3/4 mb-0 justify-self-center self-end"
        >
          {{ $t(`${textRoot}.title.${type}`) }}
        </h2>
        <AppFlexCenterLayout class="card-body w-full md:min-w-[40rem] min-h-[25rem] p-2 md:p-8">
          <AppSpinner v-if="isLoading" />
          <slot v-else />
        </AppFlexCenterLayout>
      </div>
    </div>
  </AppFlexCenterLayout>
</template>

<script lang="ts">
import Vue from 'vue'
import { AlertType } from '~/utility/constant'
import CloseIcon from '../assets/images/closeIcon.svg?inline'

export default Vue.extend({
  components: { CloseIcon },
  props: {
    isLoading: { type: Boolean, default: false },
    textRoot: { type: String, default: AlertType.DEFAULT },
    type: {
      validator(value: AlertType) {
        return Object.values(AlertType).includes(value)
      },
      default: AlertType.DEFAULT
    }
  }
})
</script>
