<template>
  <select
    class="select select-bordered select-primary"
    @input="event => { $emit('input', event.target.value) }"
  >
    <option value="" disabled selected>
      {{ placeholder }}
    </option>
    <option
      v-for="option in options"
      :key="option.value"
      :value="option.value"
    >
      {{ option.name }}
    </option>
  </select>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  props: {
    options: { type: Array, default: () => [] },
    value: { type: String, default: '' },
    placeholder: { type: String, default: '' }
  },
  computed: {
    selectedOption: {
      get(): string { return this.value },
      set(selectedOption: string) { this.$emit('input', selectedOption) }
    }
  }
})
</script>
