<template>
  <form
    class="w-full"
    @submit.prevent
  >
    <AppFlexCenterLayout
      v-for="(_, key) in credentialSubject"
      :key="key"
      column
    >
      <label class="pt-4 pb-2 w-full capitalize text-left">
        {{ $t(`requestCredentials.form.${key}.label`) }}
        <span v-if="isRequired(key)">
          *
        </span>
      </label>
      <input
        :id="key"
        v-model="credentialSubject[key]"
        required
        :name="key"
        :placeholder="$t(`requestCredentials.form.${key}.placeholder`)"
        class="input w-full focus:ring-0"
        :class="[ hasErrors(errors, key) ? 'input-error' : 'border-black' ]"
      >
      <div
        v-for="(error, index) in findErrors(errors, key)"
        :key="index"
        class="alert alert-error w-full mt-2"
      >
        <div class="flex">
          <ErrorIcon class="w-6 h-6 mx-2 stroke-current" />
          <label>{{ error.$message }}</label>
        </div>
      </div>
    </AppFlexCenterLayout>
  </form>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import { ErrorObject } from '@vuelidate/core'
import ErrorIcon from '../assets/images/errorIcon.svg?inline'

export interface ICredentialSubject {
  hasLegallyBindingName: string
  hasRegistrationNumber: string
  hasCountry: string
  id: string
  hasJurisdiction: string
  leiCode?: string,
  ethereumAddress?: string
}

export default defineComponent({
  name: 'IssuanceForm',
  components: { ErrorIcon },
  props: {
    errors: { type: Array, default: () => [] },
    requiredCredentials: { type: Array, default: () => [] },
    value: {
      type: Object,
      default: () => ({
        hasLegallyBindingName: '',
        hasRegistrationNumber: '',
        hasCountry: '',
        id: '',
        hasJurisdiction: '',
        leiCode: '',
        ethereumAddress: ''
      })
    }
  },
  computed: {
    credentialSubject: {
      get(): Object { return this.value as ICredentialSubject },
      set(credentialSubject: ICredentialSubject) { this.$emit('input', credentialSubject) }
    }
  },
  watch: {
    credentialSubject: {
      handler(newVal) {
        this.$emit('input', newVal)
      },
      deep: true
    }
  },
  methods: {
    findErrors(errors: ErrorObject[], key: string) {
      return errors.filter(e => e.$property === key)
    },
    hasErrors(errors: ErrorObject[], key: string) {
      return errors.some(e => e.$property === key)
    },
    isRequired(key: string) {
      return (this.requiredCredentials).includes(key)
    }
  }
})
</script>
