<template>
  <div class="card w-full max-w-md bg-white shadow-xl mb-10">
    <div class="card-body width-fit mx-auto text-left">
      <span class="text-2xl mt-5 text-center">
        {{ $t('verify.success.title') }}
      </span>
      <div class="divider">
        {{ $t('verify.success.sectionDividers.policyReport') }}
      </div>
      <div class="mx-auto w-full">
        <div class="mx-auto width-fit">
          <ul
            v-for="(value,key) in policyReport"
            :key="`policy-report-${key}`"
          >
            <AppSpinnerText
              :status="value ? successStatus: failStatus"
              :message="$t(`verify.success.policyReport.${key}`)"
            />
          </ul>
        </div>
        <div
          v-show="checkValidStrings(proof)"
          class="divider"
        >
          {{ $t('verify.success.sectionDividers.proofReport') }}
        </div>
        <div
          v-show="checkValidStrings(proof)"
          class="mx-auto w-full inline text-left"
        >
          <span class="font-bold">
            {{ `${$t(`verify.success.proof.created`)}: ` }}
          </span>
          <span class="proof-value">
            {{ proof.created }}
          </span>
        </div>
      </div>
      <div
        v-show="checkValidStrings(credentialSubject)"
        class="divider"
      >
        {{ $t('verify.success.sectionDividers.credentialReport') }}
      </div>
      <div
        class="mx-auto w-full"
      >
        <ul
          v-for="(val,key) in credentialSubject"
          :key="`credential-report-${key}`"
          class="text-left"
        >
          <li v-show="val" class="inline">
            <span class="font-bold">
              {{ `${$t(`requestCredentials.form.${key}.label`)}: ` }}
            </span>
            <span class="credential-value">
              {{ val }}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script lang='ts'>
import Vue from 'vue'
import { StatusType } from '~/utility/constant'

export default Vue.extend({
  name: 'VerificationResultsOverview',
  props: {
    credentialSubject: {
      type: Object,
      default() {
        return {
          hasLegallyBindingName: '',
          hasRegistrationNumber: '',
          hasCountry: '',
          hasJurisdiction: '',
          id: '',
          leiCode: '',
          ethereumAddress: ''
        }
      }
    },
    policyReport: {
      type: Object,
      default() {
        return {
          SignaturePolicy: false,
          ChallengePolicy: false,
          VpTokenClaimPolicy: false
        }
      }
    },
    proof: {
      type: Object,
      default() {
        return { created: '' }
      }
    }
  },
  computed: {
    failStatus() {
      return StatusType.FAIL
    },
    successStatus() {
      return StatusType.SUCCESS
    }
  },
  methods: {
    checkValidStrings(object: object): boolean {
      if (Object.values(object).some(value => value !== '')) {
        return true
      }
      return false
    }
  }
})
</script>

<style scoped>
.proof-value,
.credential-value {
  /* non existing properties in tailwind */
  overflow-wrap: anywhere;
  hyphens: auto;
}
.width-fit {
  width: fit-content;
}
</style>
